{% extends 'account/auth_base.html' %}
{% load static %}

{% block title %}
    Educate Me - Password Reset
{% endblock %}

{% block form-title %}
    {% if token_fail %}Bad Token{% else %}Change Password{% endif %}
{% endblock %}

{% block form-body %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <form class="mt-4" method="GET" action="{{ passwd_reset_url }}">
            <div class="mb-4">
                <label for="id_login">
                    The password reset link was invalid, possibly because it has already been used. Please
                    request a new password reset.
                </label>
                <div class="mb-4 d-flex justify-content-center">
                    <ion-icon name="warning-outline" class="error-icon"></ion-icon>
                </div>
            </div>
            <button type="submit" class="btn btn-block submit-btn">
                Request new Password Reset
            </button>
        </form>
    {% else %}
        {% if form %}
            <form class="mt-4" method="POST" action="{{ action_url }}">
                {% for key, value in form.errors.items %}
                    <p>{% if key != '__all__' %} {% endif %} {{ value }}</p>
                {% endfor %}
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_password1">New Password</label>
                    <div class="input-group">
                <span class="input-group-text" id="basic-addon2">
                    <ion-icon name="lock-open-outline"></ion-icon>
                </span>
                        <input type="password" class="form-control shadow-none" placeholder="New Password"
                               name="password1" required id="id_password1">
                    </div>
                </div>
                <div class="form-group">
                    <!-- Form -->
                    <div class="form-group mb-4">
                        <label for="id_password2">New Password (Again)</label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon2">
                                <ion-icon name="lock-open-outline"></ion-icon>
                            </span>
                            <input type="password" placeholder="New Password (again)" class="form-control shadow-none"
                                   required id="id_password2" name="password2">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-block submit-btn" name="action">
                    Change Password
                </button>
            </form>
        {% else %}
            <form class="mt-4" method="GET" action="{% url 'account_login' %}">
                <div class="mb-4">
                    <label for="id_login">
                        Your password is now changed
                    </label>
                    <div class="mb-4 d-flex justify-content-center">
                        <ion-icon name="checkmark-done-outline" class="done-icon"></ion-icon>
                    </div>
                </div>
                <button type="submit" class="btn btn-block submit-btn">
                    Go To Login Page
                </button>
            </form>
        {% endif %}
    {% endif %}

{% endblock %}