{% extends 'account/auth_base.html' %}
{% load static %}

{% block title %}
    Educate Me - Password Reset
{% endblock %}

{% block form-title %}
    Password Changed
{% endblock %}

{% block form-body %}
    <form class="mt-4" method="GET" action="{% url 'account_login' %}">
        <div class="mb-4">
            <label for="id_login">
                Your password has been changed successfully
            </label>
            <div class="mb-4 d-flex justify-content-center">
                <ion-icon name="checkmark-done-outline" class="done-icon"></ion-icon>
            </div>
        </div>
        <button type="submit" class="btn btn-block submit-btn">
            Go To Login Page
        </button>
    </form>

{% endblock %}