{% extends 'account/auth_base.html' %}
{% load static %}

{% block title %}
    Educate Me - Password Reset
{% endblock %}

{% block form-title %}
    Reset your password
{% endblock %}

{% block form-body %}
    <form class="mt-4" method="POST" action="{% url 'account_reset_password' %}">
        {% for key, value in form.errors.items %}
            <p>{% if key != '__all__' %} {{ key }} {% endif %} {{ value }}</p>
        {% endfor %}
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <div class="mb-4">
            <label for="id_login">Your Email</label>
            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <ion-icon name="mail-outline"></ion-icon>
                                </span>
                <input type="email" class="form-control shadow-none" placeholder="E-mail address"
                       name="email" autofocus required id="id_email">
            </div>
        </div>
        <button type="submit" class="btn btn-block submit-btn">
            Reset My Password
        </button>
    </form>

    <div class="d-flex justify-content-center align-items-center mt-4">
        <span class="font-weight-normal call-register">
            I remember my password
            <a href="{% url 'account_login' %}" class="font-weight-bold">Login</a>
        </span>
    </div>
{% endblock %}