{% extends 'account/auth_base.html' %}
{% load static %}

{% block title %}
    Educate Me - Register
{% endblock %}

{% block form-title %}
    Register to Educate Me
{% endblock %}

{% block form-body %}
    <form class="mt-4" method="POST" action="{% url 'account_signup' %}">
        {% for key, value in form.errors.items %}
            <p>{% if key != '__all__' %} {{ key }} {% endif %} {{ value }}</p>
        {% endfor %}
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <div class="mb-3">
            <label for="id_login">Your Email</label>
            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <ion-icon name="mail-outline"></ion-icon>
                                </span>
                <input type="email" class="form-control shadow-none" placeholder="E-mail address"
                       name="email" autofocus required id="id_email">
            </div>
        </div>
        <div class="mb-3">
            <label for="id_username">Your Username</label>
            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <ion-icon name="mail-outline"></ion-icon>
                                </span>
                <input type="text" class="form-control shadow-none" placeholder="Username"
                       name="username" maxlength="150" minlength="1" required id="id_username">
            </div>
        </div>
        <!-- End of Form -->
        <div class="form-group">
            <!-- Form -->
            <div class="form-group mb-3">
                <label for="id_password1">Your Password</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon2">
                        <ion-icon name="lock-open-outline"></ion-icon>
                    </span>
                    <input type="password" placeholder="Password" class="form-control shadow-none"
                           required id="id_password1" name="password1">
                </div>
            </div>
            <!-- End of Form -->
            <div class="d-flex justify-content-between align-items-center mb-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value=""
                           name="remember" id="id_remember">
                    <label class="form-check-label" for="defaultCheck5">
                        Remember me
                    </label>
                </div>
                <div>

                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-block submit-btn">
            Sign up
        </button>
    </form>

    <div class="d-flex justify-content-center align-items-center mt-4">
        <span class="font-weight-normal call-register">
            I have an account
            <a href="{% url 'account_login' %}" class="font-weight-bold">Login</a>
        </span>
    </div>
{% endblock %}