{% extends 'account/auth_base.html' %}
{% load static %}

{% block title %}
    Educate Me - EMail Verification
{% endblock %}

{% block form-title %}
    Verify Your E-mail address
{% endblock %}

{% block form-body %}
    <form class="mt-4" method="GET" action="{% url 'pledge_donations:landing_page' %}">
        <div class="mb-4">
            <label for="id_login">
                We have sent an e-mail to you for verification.
                Follow the link provided to finalize the signup process.
            </label>
            <div class="mb-4 d-flex justify-content-center">
                <ion-icon name="mail-outline" class="done-icon"></ion-icon>
            </div>
        </div>
        <button type="submit" class="btn btn-block submit-btn">
            Go To Home Page
        </button>
    </form>

{% endblock %}