/*
Main Blue - #062265
Main Yellow - #f7c33f
Main Grey - #666
grey background - #fcfcfc

Other text - #777777
*/

/* ----------------------------------------------- */
/* ----------------- GENERAL SETUP --------------- */
/* ----------------------------------------------- */

html, body{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #666;
}

section {
    padding: 80px 0 ;
}

/* ----------------- HEADINGS --------------- */

h2 {
	font-size: 130%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 300;
    color: #555;
}

h2:after {
	display: block;
	height: 2px;
	background-color: #89ABE3;
	content: ""; /* Must have when using :after pseudo-class */
	width: 120px;
	margin: 20px auto 0; /* Center content */

}

/* ----------------------------------------------- */
/* ---------------- HEADER SECTION --------------- */
/* ----------------------------------------------- */

.active-nav {
    color: #89ABE3 !important;
}

.nav-link:link,
.nav-link:visited {
    font-weight: 400;
    margin: 0 50px 0 0;
	padding: 8px 0 !important;
	color: white !important;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 85%;
    letter-spacing: 2px;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s, color 0.2s;
}

.nav-link:hover,
.nav-link:active {
	border-bottom: 2px solid #f7c33f;
    color: #f7c33f !important;
}

.login-button {
    border-radius: 20px;
    padding: 6px 30px !important;
    font-weight: 400;
    margin: 0 50px 0 0;
	color: white !important;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 85%;
    letter-spacing: 2px;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s, color 0.2s;
}

.site-logo {
    height: 60px;
    width: auto;
    margin: 10px 0 10px 90px;
}

.nav-item:last-child {
    margin-right: 120px;
}

header {
    padding-bottom: 70px;
    background-image: linear-gradient(rgba(1,7,21,0.7), rgba(1,7,21,0.7)), url(img/hero-child-uniform.jpg);
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    max-height: 769px;
    min-height: 750px;
}

.position-container {
    position: relative;
}

.hero-text-container {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(50%);
    margin: 0;
}

.yellow-text {
    color: #f7c33f;
    font-weight: 500;
}

.hero-main-text {
    color: #FCF6F5;
    font-size: 270%;
    font-weight: 400;
    margin: 0 0 20px;
}

.hero-sub-text {
    font-size: 85%;
    margin-bottom: 25px;
    color: #FCF6F5;
    font-weight: 400;
}

.hero-button:link,
.hero-button:visited {
    text-decoration: none;
    border: 2px solid #f7c33f;
    border-radius: 5px;
    font-size: 90%;
    text-transform: capitalize;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 500;
    transition: color 0.3s, border 0.3s;
}

.hero-button-full:link,
.hero-button-full:visited {
    background-color: #f7c33f;
    color: #062265 !important;
    margin-right: 15px;
}

.hero-button-full:hover,
.hero-button-full:active {
    background-color: #f6be2f;
    color: #FCF6F5 !important;
    text-decoration: none;
}

.hero-button-ghost:link,
.hero-button-ghost:visited {
    background-color: transparent;
    color: #FCF6F5;
    border: 1px solid #FCF6F5;
}

.hero-button-ghost:hover,
.hero-button-ghost:active {
    background-color: #f6be2f;
    color: #FCF6F5;
    text-decoration: none;
}

/* ----------------------------------------------- */
/* -------------- CONTRIBUTE SECTION ------------- */
/* ----------------------------------------------- */
#contribute-section {
    background-color: #fff;
}
.contribute-card {
    margin-top: 15px;
    padding: 40px 20px 0;
}

.contribute-card:first-child {
    border-left: transparent;
}

.contribute-icon-container {
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}

.contribute-icon {
    height: 60px;
}

.contribute-topic {
    text-align: center;
    font-weight: 500;
    font-size: 110%;
    margin: 20px 0;
    color: #062265;
}

.contribute-description {
    text-align: center;
    font-size: 80%;
    font-weight: 400;
    color: #777777;
}

/* ----------------------------------------------- */
/* -------------- ABOUT SECTION ------------- */
/* ----------------------------------------------- */

#about-section {
    border-bottom: 1px solid #fff;
    background-color: #f3f7fe;
    padding: 100px 0;
}

.about-image {
    max-width: 100%;
    height: auto;
}

.about-details-box {
    padding: 100px 20px 0 0;
}

.section-title-small {
    font-size: 87%;
    font-weight: 500;
    color: #f7c33f;
    text-transform: uppercase;
    margin-bottom: 30px;
    line-height: 1.2;
    letter-spacing: 1px;
}

.section-title-big {
    color: #062265;
    font-weight: 600;
    font-size: 180%;
    /*line-height: 50px;*/
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 35px;
}

.center-section {
    width: 70%;
    text-align: center;
    display: block;
    margin: 20px auto;
}

.about-text {
    font-size: 80%;
    /*font-weight: 300;*/
}

.about-button {
    border-radius: 10px !important;
}

.about-button:last-child {
    margin-top: 15px;
}

.long-copy {
	line-height: 1.5;
	/*margin-left: 10%;*/
	margin-right: 10%;
	margin-bottom: 30px;
    font-weight: 300;
    font-size: 95%;
    text-align: justify;
}

/* ----------------------------------------------- */
/* -------------- DONATIONS SECTION -------------- */
/* ----------------------------------------------- */
#donations-section {
    background-color: rgb(6,34,101);
}

.metric-value {
    color: #fcfcfc;
    font-weight: 500;
    font-size: 240%;
    text-align: center;
    margin-bottom: 0;
}

.metric-value:after {
	display: block;
	height: 3px;
	background-color: #f7c33f;
	content: ""; /* Must have when using :after pseudo-class */
	width: 40px;
	margin: 2px auto 20px; /* Center content */

}

.metric-description {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 85%;
    color: #fcfcfc;
    text-align: center;
}

/* ----------------------------------------------- */
/* -------------- STUDENTS SECTION --------------- */
/* ----------------------------------------------- */
#testimonies-section {
    background-color: #f3f7fe;
    padding: 80px 0 320px;
}

.details-row {
    margin-top: 40px;
}

.image-container {
    position: relative;
    width: 100%;
}

.student-details-container {
    background-color: #fff;
    padding: 20px 25px;
    position: absolute;
    top: 390px;
    left: 40px;
    z-index: 10;
    width: 90%;
    box-shadow: 0px 5px 9.8px 0.2px rgba(85, 85, 85, 0.07);
}

.last-one {
    top: 370px;
}

.middle-one{
    top: 350px;
}

.student-image {
    max-width: 100%;
    width: 700px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.student-name {
    color: #062265;
    font-weight: 500;
    font-size: 120%;
    text-align: right;
    margin-bottom: 10px;
}

.student-details {
    font-size: 75%;
    text-align: right;
    max-width: 100%;
}

/* ----------------------------------------------- */
/* ---------------- CAUSES SECTION --------------- */
/* ----------------------------------------------- */
.cause-card {
    margin-top: 40px;
    box-shadow: 0px 5px 9.8px 0.2px rgba(85, 85, 85, 0.15)
}

.cause-image {
    max-width: 100%;
    height: auto;
}

.cause-details-box {
    padding: 0 30px;
}

.cause-title {
    color: #062265;
    font-weight: 600;
    font-size: 105%;
    margin: 20px 0;
    text-align: left;
    line-height: 27px;
}

.progress-metric-container {
    margin-bottom: 15px;
}

.progress-value {
    width: 53px;
    height: 22px;
    background-color: #f7c33f;
    text-align: center;
    border: 1px solid #f7c33f;
    left: 60%;
    position: relative;
    color: #062265;
    opacity: 0.99;
    font-weight: bold;
    font-size: 12px;
    top: -10px;
    line-height: 20px;
}

.progress-value:before {
    content: "";
    border-color: #f7c33f transparent transparent transparent;
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
}

.left-metric-text-container {
    margin: 0;
    width: 49%;
    text-align: left;
    display: inline-block;
}

.right-metric-text-container  {
    margin: 0;
    width: 49%;
    text-align: right;
    display: inline-block;
}

.focus {
    font-weight: 600;
    font-size: 74%;
    color: #525252;
}

.normal {
    font-size: 74%;
    color: #525252;
}

.cause-metric-text {
    width: 48%;
    display: inline-block;
    text-align: center;
}

.yellow-highlight {
    color: #f7c33f;
    font-weight: 500;
    font-size: 150%;
}

.blue-highlight {
    color: #062265;
    font-weight: 500;
    font-size: 80%;
}

.cause-metric-name {
    color: #525252;
    font-size: 90%;
}

.button-groups {
    margin-top: 10px;
    border-top: 1px solid #eeeeee;
}

.cause-details-button {
    display: inline-block;
    text-align: center;
    padding: 15px 0;
    color: #333333;
    width: 40%;
    font-size: 80%;
}

.cause-action-button {
    display: inline-block;
    text-align: center;
    width: 18%;
    border-left: 1px solid #eeeeee;
    padding: 15px 0;
}

.cause-action-button img {
    height: 35px;
    width: auto;
}