{% extends 'pledge_donations/pledge_base.html' %}
{% load  static %}

{% block css-files %}
    <link rel="stylesheet" href="{% static 'resources/css/problem-info.css' %}">
    <link rel="stylesheet" href="{% static 'resources/css/' %}">
{% endblock %}

{% block page-title %}
    Educate Me - FAQ's
{% endblock %}

{% block page-heading %}
    Frequently Asked <span class="yellow-text">Questions</span>
{% endblock %}

{% block page-sub-heading %}
    How, Why, When or What
{% endblock %}

{% block page-body %}

{% endblock %}