<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'resources/css/index.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap" rel="stylesheet">
    <title>Educate Me</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand" href="{% url 'pledge_donations:landing' %}">
            <img src="{% static 'resources/images/educate-logo-white-cropped.png' %}" alt="educate-me-logo"
                 class="site-logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link main-nav" href="#about-section">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link main-nav" href="#causes-section">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link main-nav" href="#testimonies-section">Testimonies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link main-nav" href="{% url 'pledge_donations:contact' %}">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="main-nav hero-button hero-button-full login-button" href="{% url 'account_login' %}">Login</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="position-container">
                    <div class="hero-text-container">
                    <h1 class="hero-main-text">
                        Sponsor a Child to <span class="yellow-text">School</span>
                    </h1>
                    <p class="hero-sub-text">
                        In Nigeria: Wealth gaps deny many of the poorest the chance of an education.
                    </p>
                    <a href="#contribute-section" class="hero-button hero-button-full">How to Contribute</a>
                    <a href="{% url 'pledge_donations:problem-statement' %}" class="hero-button hero-button-ghost">Learn More</a>
                </div>
                </div>
            </div>
             <div class="col-lg-6">
            </div>
        </div>
    </div>
</header>

<section id="about-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 about-details-box">
                <h6 class="section-title-small">Who we are?</h6>
                <h6 class="section-title-big">
                    On a mission to give disadvantaged children education
                </h6>
                <p class="about-text">
                    Hello, we’re Educate me an organisation with a goal to cut down the number of uneducated children
                    in Nigeria by providing textbooks, stationary material and paying student tuition fees.
                </p>
            </div>
            <div class="col-sm-6">
                <img src="{% static 'resources/images/about-complex.webp' %}" alt="about-image" class="about-image">
            </div>
        </div>
    </div>
</section>

<section id="contribute-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h6 class="section-title-small center-section">How Can I Contribute?</h6>
                <h6 class="section-title-big center-section">
                    Ways to contribute are not limited to money
                </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm contribute-card">
                {# hand, Money, Books, Voice #}
				<!-- Adding icons -->
                <div class="contribute-icon-container">
                    <img src="{% static 'resources/images/community.png' %}" alt="community-icon"
                         class="contribute-icon">
                </div>
				<h4 class="contribute-topic">Volunteer</h4>
				<p class="contribute-description">

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                </p>
			</div>
			<div class="col-sm contribute-card">
				<div class="contribute-icon-container">
                    <img src="{% static 'resources/images/money.png' %}" alt="money-icon"
                         class="contribute-icon">
                </div>
				<h4 class="contribute-topic">Donate Money</h4>
				<p class="contribute-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                </p>
			</div>
			<div class="col-sm contribute-card">
				<div class="contribute-icon-container">
                    <img src="{% static 'resources/images/book.png' %}" alt="book-icon"
                         class="contribute-icon">
                </div>
				<h4 class="contribute-topic">Donate Books</h4>
				<p class="contribute-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                </p>
			</div>
			<div class="col-sm contribute-card">
				<div class="contribute-icon-container">
                    <img src="{% static 'resources/images/loupe.png' %}" alt="loupe-icon"
                         class="contribute-icon">
                </div>
				<h4 class="contribute-topic">Identify Needy</h4>
				<p class="contribute-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                </p>
			</div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center mt-lg-5">
                <a href="{% url 'account_signup' %}" class="hero-button hero-button-full">Register & Contribute Now</a>
            </div>
        </div>
    </div>
</section>

<section id="donations-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="metric-value">1,000+</p>
                <p class="metric-description">Books donated</p>
            </div>
            <div class="col-sm">
                <p class="metric-value">100,000</p>
                <p class="metric-description">Naira donated</p>
            </div>
            <div class="col-sm">
                <p class="metric-value">200+</p>
                <p class="metric-description">Students helped</p>
            </div>
            <div class="col-sm">
                <p class="metric-value">10,000</p>
                <p class="metric-description">Volunteer Hours</p>
            </div>
        </div>
    </div>
</section>

<section id="testimonies-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h6 class="section-title-small center-section">Testimonies</h6>
                <h6 class="section-title-big center-section">
                    Some lives changed by your efforts
                </h6>
            </div>
        </div>
        <div class="row details-row">
            <div class="col-sm-4">
                <div class="image-container">
                    <img src="{% static 'resources/images/child-brown-uniform-cropped.jpg' %}" alt="child-brown-uniform"
                         class="student-image">
                </div>
                <div class="student-details-container">
                    <p class="student-name">Okafor Chukwudi</p>
                    <p class="student-details">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="image-container">
                    <img src="{% static 'resources/images/child-red-uniform-cropped.jpg' %}" alt="child-red-uniform"
                         class="student-image">
                </div>
                <div class="student-details-container last-one">
                    <p class="student-name">Adeola Adetunji</p>
                    <p class="student-details">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="image-container">
                    <img src="{% static 'resources/images/girl-child-uniform.jpg' %}" alt="child-green-uniform"
                         class="student-image">
                </div>
                <div class="student-details-container middle-one">
                    <p class="student-name">Rashid Hauwa</p>
                    <p class="student-details">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="causes-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h6 class="section-title-small center-section">Events</h6>
                <h6 class="section-title-big center-section">
                    Ongoing events you can contribute to
                </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="cause-card">
                    <img src="{% static 'resources/images/girl-writing.png' %}" alt="girl-writing" class="cause-image">
                    <div class="cause-details-box">
                        <p class="cause-title">
                            St Leo's Catholic School Book Drive
                        </p>
                        <div class="progress-metric-container">
                            <div class="progress-value"><span>70</span>%</div>
                            <div class="progress" style="height: 5px">
                                <div class="progress-bar" role="progressbar" style="width: 70%; font-size: 90%;
                                    background-color: #f7c33f;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <div>
                                <p class="left-metric-text-container ">
                                    <span class="focus">Raised:</span>
                                    <span class="normal">₦7,000</span>
                                </p>
                                <p class="right-metric-text-container ">
                                    <span class="focus">Goal:</span>
                                    <span class="normal">₦10,000</span>
                                </p>
                            </div>
                        </div>

                        <div class="number-metrics">
                            <p class="cause-metric-text">
                            <span class="yellow-highlight">1000</span>
                            <span class="blue-highlight">/1000</span>
                            <span class="cause-metric-name">Books</span>
                        </p>
                            <p class="cause-metric-text">
                            <span class="yellow-highlight">12</span>
                            <span class="blue-highlight">/20</span>
                            <span class="cause-metric-name">Volunteers</span>
                        </p>
                        </div>
                    </div>
                     <div class="button-groups">
                        <a href="#" class="cause-details-button">Learn More</a>
                        <a href="#" class="cause-action-button">
                            <img src="{% static 'resources/images/money.png' %}" alt="books">
                        </a>
                        <a href="#" class="cause-action-button">
                            <img src="{% static 'resources/images/book.png' %}" alt="books">
                        </a>
                        <a href="#" class="cause-action-button">
                            <img src="{% static 'resources/images/community.png' %}" alt="books">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="cause-card">
                    <img src="{% static 'resources/images/girl-writing.png' %}" alt="girl-writing" class="cause-image">
                    <div class="cause-details-box">
                        <p class="cause-title">
                            St Leo's Catholic School Book Drive
                        </p>
                        <div class="progress-metric-container">
                            <div class="progress-value"><span>70</span>%</div>
                            <div class="progress" style="height: 5px">
                                <div class="progress-bar" role="progressbar" style="width: 70%; font-size: 90%;
                                    background-color: #f7c33f;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <div>
                                <p class="left-metric-text-container ">
                                    <span class="focus">Raised:</span>
                                    <span class="normal">₦7,000</span>
                                </p>
                                <p class="right-metric-text-container ">
                                    <span class="focus">Goal:</span>
                                    <span class="normal">₦10,000</span>
                                </p>
                            </div>
                        </div>

                        <div class="number-metrics">
                            <p class="cause-metric-text">
                            <span class="yellow-highlight">1000</span>
                            <span class="blue-highlight">/1000</span>
                            <span class="cause-metric-name">Books</span>
                        </p>
                            <p class="cause-metric-text">
                            <span class="yellow-highlight">12</span>
                            <span class="blue-highlight">/20</span>
                            <span class="cause-metric-name">Volunteers</span>
                        </p>
                        </div>
                    </div>
                     <div class="button-groups">
                        <a href="#" class="cause-details-button">Learn More</a>
                        <a href="#" class="cause-action-button">
                            <img src="{% static 'resources/images/money.png' %}" alt="books">
                        </a>
                        <a href="#" class="cause-action-button">
                            <img src="{% static 'resources/images/book.png' %}" alt="books">
                        </a>
                        <a href="#" class="cause-action-button">
                            <img src="{% static 'resources/images/community.png' %}" alt="books">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="cause-card">
                    <img src="{% static 'resources/images/girl-writing.png' %}" alt="girl-writing" class="cause-image">
                    <div class="cause-details-box">
                        <p class="cause-title">
                            St Leo's Catholic School Book Drive
                        </p>
                        <div class="progress-metric-container">
                            <div class="progress-value"><span>70</span>%</div>
                            <div class="progress" style="height: 5px">
                                <div class="progress-bar" role="progressbar" style="width: 70%; font-size: 90%;
                                    background-color: #f7c33f;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <div>
                                <p class="left-metric-text-container ">
                                    <span class="focus">Raised:</span>
                                    <span class="normal">₦7,000</span>
                                </p>
                                <p class="right-metric-text-container ">
                                    <span class="focus">Goal:</span>
                                    <span class="normal">₦10,000</span>
                                </p>
                            </div>
                        </div>

                        <div class="number-metrics">
                            <p class="cause-metric-text">
                            <span class="yellow-highlight">1000</span>
                            <span class="blue-highlight">/1000</span>
                            <span class="cause-metric-name">Books</span>
                        </p>
                            <p class="cause-metric-text">
                            <span class="yellow-highlight">12</span>
                            <span class="blue-highlight">/20</span>
                            <span class="cause-metric-name">Volunteers</span>
                        </p>
                        </div>
                    </div>
                     <div class="button-groups">
                        <a href="#" class="cause-details-button">Learn More</a>
                        <a href="#" class="cause-action-button">
                            <img src="{% static 'resources/images/money.png' %}" alt="books">
                        </a>
                        <a href="#" class="cause-action-button">
                            <img src="{% static 'resources/images/book.png' %}" alt="books">
                        </a>
                        <a href="#" class="cause-action-button">
                            <img src="{% static 'resources/images/community.png' %}" alt="books">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col more-button-container">
                <a href="{% url 'pledge_donations:event_list' %}"
                   class="hero-button hero-button-full more-causes-button">
                    More Events
                </a>
            </div>
        </div>
    </div>
</section>

<footer id="footer-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h6 class="section-title-big center-section footer-header">
                    Subscribe to our Newsletter
                </h6>
                <form action="{% url 'pledge_donations:subscribe' %}" method="post" class="subscribe-form">
                    {% csrf_token %}
                    <div class="input-group subscribe-container">
                        <input type="email" name="email-field-newsletter" id="email-field-newsletter"
                               class="form-control shadow-none subscribe-input" placeholder="Email Address" required>
                        <button class="input-group-text subscribe-button">
                            Subscribe
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="footer-section-box">
                    <img src="{% static 'resources/images/educate-logo-white-cropped.png' %}" alt="site-logo"
                         class="footer-logo">
                    <p class="footer-logo-text">
                        Education is the most powerful weapon which you can use to change the world.
                        Change a child's world today.
                    </p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="footer-section-box no-top">
                    <p class="footer-section-title d-none d-md-block" style="color: #062265">Navigation</p>
                    <ul class="footer-links">
                        <li><a href="{% url 'pledge_donations:landing' %}">Home</a></li>
                        <li><a href="{% url 'pledge_donations:landing' %}#about-section">About</a></li>
                        <li><a href="{% url 'pledge_donations:faq' %}">FAQ's</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="footer-section-box no-top">
                    <p class="footer-section-title d-none d-md-block" style="color: #062265">.</p>
                    <ul class="footer-links">
                        <li style="text-align: left"><a href="{% url 'pledge_donations:event_list' %}">Events</a>
                        <li style="text-align: left"><a href="{% url 'pledge_donations:contact' %}">Contact</a>
                        <li style="text-align: left"><a href="{% url 'pledge_donations:books_list' %}">Needed Book
                            List</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="footer-section-box no-top">
                    <p class="footer-section-title">Contact Info</p>
                    <ul class="footer-links">
                        <li class="contact-item">
                            <ion-icon name="location-outline" class="contact-icon"></ion-icon>
                            203 Fake St. Grand Avenue, Maitama, Abuja, Nigeria
                        </li>
                        <li class="contact-item">
                            <ion-icon name="call-outline" class="contact-icon"></ion-icon>
                            +2 392 3929 210
                        </li>
                        <li class="contact-item">
                            <ion-icon name="mail-outline" class="contact-icon"></ion-icon>
                            contact@educate.me
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous">
</script>
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
</body>
</html>