{% extends 'pledge_donations/pledge_base.html' %}
{% load  static %}

{% block css-files %}
    <link rel="stylesheet" href="{% static 'resources/css/problem-info.css' %}">
    <link rel="stylesheet" href="{% static 'resources/css/' %}">
{% endblock %}

{% block page-title %}
    Educate Me - Problem Statement
{% endblock %}

{% block page-heading %}
    Why Should I Sponsor a <span class="yellow-text">Child</span>
{% endblock %}

{% block page-sub-heading %}
    The Nigerian Problem
{% endblock %}

{% block page-body %}
    <section id="about-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h6 class="section-title-small w-80">Overview of Education in Nigeria</h6>
                    <h6 class="section-title-big w-80 pt-3 pb-4">
                        In Nigeria: Wealth gaps deny many of the poorest the chance of an education.
                    </h6>
                    <p class="about-text w-80">
                        Nigeria has a lower than expected level of educational achievement given its moderately high per
                        capita income. Illiteracy rates are high and there are big gaps in achievement between rich and
                        poor, boys and girls and different regions. Overall, Nigeria ranks 152 out of 187 countries in
                        the
                        UN’s Human Development Index, below Kenya, Ghana, Botswana and Rwanda. It is also performing
                        worst
                        out of 22 sub-Saharan and North African countries rated by the World Bank in 2008
                        <br>
                        The main contributing factors are poor physical facilities, inadequate sanitation, lack of
                        textbooks
                        and a high number of unqualified teachers. To make matters worse, the high percentage of male
                        teachers in the North means that many families there opt to withdraw girls from school.
                        <br>
                        <br>
                        <a href="https://www.copenhagenconsensus.com/publication/nigeria-perspective-education"
                           class="small btn-link" target="_blank">Read More</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="impact-section" class="p-lg-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h6 class="section-title-small center-section">Education impacts every area of life</h6>
                    <h6 class="section-title-big center-section">
                        A lack of quality education can lead to:
                    </h6>
                </div>
            </div>
            <div class="row d-flex justify-content-center align-content-right">
                <div class="col-sm-4 contribute-card">
                    <img src="{% static 'resources/images/icons_gender.png' %}" alt="gender-icon"
                         class="highlight-icon">
                </div>
                <div class="col-sm-4 contribute-card">
                    <img src="{% static 'resources/images/icons_ecoomic.png' %}" alt="economic-icon"
                         class="highlight-icon">
                </div>
                <div class="col-sm-4 contribute-card">
                    <img src="{% static 'resources/images/icons_sanitation.png' %}" alt="sanitation-icon"
                         class="highlight-icon">
                </div>
                <div class="col-sm-4 contribute-card">
                    <img src="{% static 'resources/images/icons_teachers.png' %}" alt="teachers-icon"
                         class="highlight-icon">
                </div>
                <div class="col-sm-4 contribute-card">
                    <img src="{% static 'resources/images/icons_infrastructure.png' %}" alt="infrastructure-icon"
                         class="highlight-icon">
                </div>
            </div>
        </div>
    </section>
{% endblock %}